@import "tailwindcss";

@font-face {
  font-family: "Pixelify Sans";
  src: url("/fonts/static/PixelifySans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pixelify Sans";
  src: url("/fonts/static/PixelifySans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pixelify Sans";
  src: url("/fonts/static/PixelifySans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pixelify Sans";
  src: url("/fonts/static/PixelifySans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-pixel: "Pixelify Sans", ui-sans-serif, system-ui, sans-serif;
  --color-background: #171717; /* neutral-900 */
  --color-text: #fafaf9; /* stone-50 */
}

html {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-pixel);
}
