/*
 * Font Styles:
 * font-family: "Nippo-Extralight";
 * font-family: "Nippo-Light";
 * font-family: "Nippo-Regular";
 * font-family: "Nippo-Medium";
 * font-family: "Nippo-Bold";
*/


/* VARIABLES */
:root {
    --font-color: #FFCD4B;
    --background-color: #191919;
    --box-color: #262626;
    --message-color: #F7F9F2;
}


/* DEFAULT ELEMENTS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html {
    scroll-behavior: smooth;
}

body { 
    background-color: var(--background-color);
    font-family: "Nippo-Medium";
    
}


button {
    display: block;
    color: var(--font-color);
    background-color: var(--box-color);
    font-size: 15px;
    outline: none;
    border: 2px solid var(--font-color);
    border-radius: 2px;
    padding: 9px 15px;
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
}

input {
    cursor: pointer;
}

input[type="color"] {
    display: block;
    outline: none;
    border: none;
    background-color: rgba(0,0,0,0);
    border-radius: 2px;
    width: 200%;
    height: 200%;
    transform: translateX(-10px) translateY(-10px);
    cursor: pointer;
}

input[type="range"] {
    width: 100%;
    height: 2px;
    background: var(--box-color);
    appearance: none;
    outline: none;
    border-radius: 2px;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--font-color);
}

input[type="range"]::-moz-range-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--font-color);
}

/* Used for the GitHub link */
a {
    color: var(--font-color);
}



/* CLASSES */
.color-box {
    height: 36px;
    overflow: hidden;
    border-radius: 2px;
    border: 2px solid var(--font-color);
    width: 35%;
    margin-bottom: 10px;
    background-color: #191919;

}

.color-card {
    font-size: 14px;
    color: var(--font-color);
    display: flex;
    position: relative;
    
}

.color-card span {
    margin-left: 9px;
    position: absolute;
    top: 10px;
    left: 88px;
    
}

.cc2 {
    margin-bottom: 25px;
}

.wrapper {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    color: var(--font-color);
    margin-top: 50px;
    text-align: center;
    font-size: 60px;
}

.main-content {
    user-select: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    margin-bottom: 60px;
}

.panel {
    font-family: "Nippo-Regular";
    width: 300px;
    height: 660px;
    background-color: var(--box-color);
    padding: 30px;
    border-radius: 5px;
}

.grid-wrapper {
    width: 660px;
    height: 660px;
    background-color: var(--box-color);
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    width: 600px;
    height: 600px;
    background-color: white;
    /* CHANGE ABOVE */
    border: none;
}

.grid-item { /*Will be used later on*/
    
    user-select: none;

    cursor: crosshair;
}

.slider-box {
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    /* border: red solid 1px; */
}

.btn-on {
    background-color: var(--font-color);
    color: var(--box-color);
}

.grid-size {
    margin-bottom: 60px;
    text-align: center;
    font-family: "Nippo-Regular";
    color: var(--font-color);
}

.transition-class {
    transition : background-color 0.5s ease-out;
}

.message-container {
    display: none;
    margin-top: 20px;
}
.error-message {
    color: var(--message-color);
    text-align: center;
    margin: 10px;
    font-family: "Nippo-Regular";
}

/* ID'S */

#color-fill {
    margin-bottom: 35px;
}

#rainbow-btn {
    margin-bottom: 50px;
}

#progress-bar {
    width: 40%;
    height: 2px;
    background-color: var(--font-color);
    border-radius: 2px;
    position: absolute;
    top: 12px;
    left: 0;
}

#range-value {
    color: var(--font-color);
    font-family: "Nippo-Regular";

}